.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  //background-image: url("../../img/eq_wallpaper.jpg");
  background-repeat: unset;
  // background-size: auto;
  overflow: hidden;
  background: #123148;
}

#root, .dashboard-content, .main-content {
  overflow: hidden;
}
html, body {
  overflow: hidden;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
