.dashboard-content {
  width: 100vw;
  height: 100vh;
  & > div {
    width: 100%;
    height: 100%;
  }
}
.main-content {
  padding: 0px !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content-embedded {
  header {
    display: none;
  }
  main > div:not(.MuiPaper-root) {
    display: none;
  }
}

.connection-content {
  display: block;
  min-height: 350px;
  min-width: 500px;
  margin: 5px;
  & > * {
    margin: 5px 0 !important;
  }
}

.loading-box {
  border-radius: 10px;
  border: 2px solid #b2b2b2;
  background: rgba(0,0,0,0.5);
  padding: 5px 15px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}