.ui-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    .ui-element {
        pointer-events: all;
        position: absolute;
        &, & * {
            user-select: none;
          }
    }
}