.zone-header {
  width: 100%;
  height: 100%;
  padding: 0 !important;

}
canvas {
  width: 100vw;
  height: 100vh;
}
.btn-row {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  button {
    margin-right: 10px;
  }
  & > * {
    margin-right: 13px;
  }
}

.react-toast-notifications__container {
  margin-top: 130px;
}

.zone-header {
  width: 100%;
  height: 100%;
}
.zone-container {
  width: calc(100%);
  height: calc(100vh - 0px);
}

.overlay-buttons {
  position: absolute;
  top: 120px;
  z-index:1000;
  color: white;
  display: flex;
}

.MuiDialog-paper[role=dialog]  {
  border-radius: 5px;
  background-image: url('../../../public/ui/border2.jpg');
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 1;
  & > * {
    opacity: 1;
  }
  //border: 1px solid #b2b2b2;
  padding: 10px;
}

.action-list {
  padding: 0 !important;
  overflow: hidden;
  border: 1px solid #b2b2b2;
  .MuiButtonBase-root, .MuiListItem-root {
    padding: 0px;
    height: 35px;
    div {
      padding: 15px;
    }
  }
}